<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuruoye.ichp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.NoteAddActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.CollectActivity" />
        <activity android:name=".ui.PersonInfoActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.EntryAddActivity" />
        <activity android:name=".ui.EntryInfoActivity" />
        <activity android:name=".ui.UserInfoActivity" />
        <activity android:name=".ui.UserAttentionActivity" />
        <activity android:name=".ui.PersonNoteActivity" />
        <activity android:name=".ui.MessageActivity" />
        <activity android:name=".ui.EntryChooseActivity" />
        <activity android:name=".ui.NoteShowActivity" />
        <activity android:name=".ui.PasswordActivity" />
        <activity android:name=".ui.MessagePersonActivity" />
        <activity android:name=".ui.ImgActivity"
            android:theme="@style/FullScreenTheme"/>
        <activity android:name=".ui.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"
            android:theme="@style/FullScreenTheme"/>
        <activity android:name=".ui.UserLoginActivity" />
        <activity android:name=".ui.RecordActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.CourseShowActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wuruoye.ichp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- 高德地图需要 -->
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="98c8b65223423b8a78576de90906859a"/>
    </application>
</manifest>
